DJANGO_SETTINGS_MODULE=config.settings.production

ALLOWED_HOSTS=127.0.0.1,localhost,web,nginx

DEBUG=0
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
SECRET_KEY=supersecret

PRODUCTS_FILE=../data/products_data_example.json

CLIENT_ID=CLIENT_ID
CLIENT_SECRET=CLIENT_SECRET

# PostgreSQL
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=DB_PASSWORD
DB_HOST=db
DB_PORT=5432

# Secure
HTTP_X_FORWARDED_PROTO=""

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
DEFAULT_FROM_EMAIL=noreply@domain.com


# TOKENS
NOVA_POSHTA_API_KEY=SOME_NOVA_POSHTA_API_KEY
MONO_TOKEN=token

#STORAGES
R2_ACCESS_KEY_ID=R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=R2_SECRET_ACCESS_KEY
R2_BUCKET_NAME=R2_BUCKET_NAME
R2_ENDPOINT_URL="https://<ACCOUNT_ID>.r2.cloudflarestorage.com"

MEDIA_URL="https://<PUBLIC_ID>.r2.dev/"