asgiref==3.8.1
black==25.1.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
cryptography==46.0.2
Django==5.2.1
django-allauth==65.12.0
django-stubs==5.2.9
django-stubs-ext==5.2.9
idna==3.11
jwt==1.4.0
librt==0.7.8
mypy==1.19.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
phonenumbers==9.0.16
pillow==11.3.0
platformdirs==4.3.8
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
ruff==0.15.0
six==1.17.0
sqlparse==0.5.3
types-python-dateutil==2.9.0.20260124
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0