<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title  %}{%  endblock  %}</title>
</head>
<body>
<a href="{%  url 'products'  %}"><button>Список товаров</button></a>
<a href="{%  url 'create_products'  %}"><button>Создать новый товар</button></a>
<a href="{%  url 'orders'  %}"><button>Список заказов</button></a>
<div>
<a href="{%  url 'categories_list'  %}"><button>Категории</button></a>
<a href="{%  url 'tags_list'  %}"><button>Теги</button></a>
<a href="{%  url 'brands_list'  %}"><button>Брэнд</button></a>
<a href="{%  url 'groups_list'  %}"><button>Группы</button></a>
</div>
<hr>
{%  block content  %}{%  endblock  %}
</body>
</html>