{%  extends "stuff/base.html"  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

<a href="{{request.path}}create/"><button>Создать</button></a>
<hr>
{%  if list  %}
{%  for l in list  %}
    <li>
        {{  l  }}
        <a href="{{ request.path }}edit/{{ l.id }}/"><button>Изменить</button></a>
        <form method="POST" action="{{  request.path  }}delete/" style="display:inline;">
            {%  csrf_token  %}
            <input type="hidden" name="id" value="{{  l.id  }}">
            <button>Удалить</button>
        </form>
    </li>
{%  endfor  %}
{%  else  %}
Пока пусто
{%  endif  %}

{%  endblock  %}