{%  extends 'stuff/base.html'  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}
{{  order  }}

<form method="POST">
        {%  csrf_token  %}
        {{  form  }}
        <button>Изменить</button>
</form>

<hr>
{%  for item in  order_items  %}
        {{  item.product  }}  - {{  item.quantity  }} шт<br>
{%  endfor  %}

{%  for status in  order_status_log  %}
        {{  status.changed_at  }} - {{  status.status  }} - {{  status.changed_by  }}<br>
        {%  if status.comment  %}
                {{  status.comment  }}<br>
        {%  endif  %}
{%  endfor  %}
<hr>
{{  order.total_price  }} грн
<hr>
{{  order.snapshot_name  }}<br>
{{  order.snapshot_email  }}<br>
{{  order.snapshot_phone  }}<br>
{{  order.snapshot_address  }}<br>
{%  endblock  %}