{%  extends 'stuff/base.html'  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

{{  product.name  }} | {{  product.group.name  }} | {{  product.brand  }} |
{{  product.price  }} | {{  product.description  }} <br>
Количество товара в наличии: {{  product.stock  }}<br>

<form action="{%  url 'edit_products' product.id  %}">
    {%  csrf_token  %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
  <button>Изменить</button>
</form>

<form action="{%  url 'delete_product'  %}" method="POST">
    {%  csrf_token  %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button>Удалить</button>
</form>
{%  endblock  %}