<div id="messages-container" class="messages position-fixed top-0 end-0 p-3"
     style="z-index: 1080;">
    {% if messages %}
        <script>
            const djangoMessages = [
                {% for message in messages %}
                    {
                        text: "{{ message|escapejs }}",
                        level: "{{ message.tags }}"
                    },
                {% endfor %}
            ];
        </script>
    {% else %}
        <script>
            const djangoMessages = [];
        </script>
    {% endif %}
</div>