{%  load custom_filters  %}

<div class="product-card">
<img src={{ product.image.url }} alt="{{ product.name }}" class="product-image">

<a href="{%  url 'product_page' product.code  %}"><h5 class="product-title">{{ product.name }}</h5></a>
| {{  product.group.name  }}
| {{  product.brand  }}
|<p class="product-price">{{ product.price|number_format }} грн</p>
| {{  product.description  }} |


{%  if product.is_favorite or is_favorite  %}
<form method="POST" action="{% url 'remove_from_favorites' product.id %}?next={{  request.get_full_path|urlencode  }}">
    {% csrf_token %}
    <button type="submit">&hearts;</button>
</form>
{%  else  %}
<form method="POST" action="{% url 'add_to_favorites' product.id %}?next={{  request.get_full_path|urlencode  }}">
    {% csrf_token %}
    <button type="submit">&#9825;</button>
</form>
{%  endif  %}

<form method='POST' action="{%  url 'add_to_cart'  %}?next={{  request.get_full_path|urlencode  }}">
{%  csrf_token  %}
    <input type="hidden" name='product_code'  value="{{ product.code }}">
    {%  if product.stock %}
        <button type="submit" class="btn btn-success btn-sm mt-2">В корзину</button><br>
    {%  else  %}
        Товара нет в наличии
    {%  endif  %}
</form>
</div>