{%  load custom_filters  %}

<div class="product-card">
<img src={{ product.image.url }} alt="{{ product.name }}" class="product-image">

<a href="{%  url 'product_page' product.code  %}"><h5 class="product-title">{{ product.name }}</h5></a>
| {{  product.group.name  }}
| {{  product.brand  }}
|<p class="product-price">{{ product.price|number_format }} грн</p>
| {{  product.description  }} |


<button
    class="favorite-btn"
    data-product-id="{{ product.id }}"
    data-in-favorites="{{ product.is_favorite|yesno:'1,0' }}"
>
    {% if product.is_favorite %}♥{% else %}♡{% endif %}
</button>


{%  if product.id in cart_products %}
<button class="btn btn-sm mt-2  btn-primary disabled"
        data-product-code="{{  product.code  }}">В корзинe
</button>
<br>
{%  elif product.stock %}
<button class="btn btn-success btn-sm mt-2 js-cart-btn-list"
        data-product-code="{{  product.code  }}">В корзину
</button>
<br>
{%  else  %}
    Товара нет в наличии
{%  endif  %}

</div>