<img src={{ product.image.url }}   hspace='40' vspace='40' width='100px' height='100px'>

<a href="{%  url 'product_page' product.code  %}">{{  product.name  }}</a>
| {{  product.group.name  }}
| {{  product.brand  }}
| {{  product.price  }}
| {{  product.description  }} |

<form method='POST' action="{%  url 'add_to_cart'  %}">
{%  csrf_token  %}
    <input type="hidden" name='product_code'  value="{{ product.code }}">
    {%  if product.stock %}
        <button>КУПИТЬ </button><br>
    {%  else  %}
        Товара нет в наличии
    {%  endif  %}<hr>
</form>