{%  extends 'cosmetics_shop/base.html'  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}
<h1>{{  title  }}</h1>
<br>
{%  for prod in brand_products %}
    <a href="{%  url 'product_page' prod.id  %}">{{  prod.name  }}</a> | {{  prod.group.name  }} | {{  prod.brand  }} |
    {{  prod.price  }} | {{  prod.description  }} |
    <form method='POST' action="{%  url 'add_to_cart'  %}">
        {%  csrf_token  %}
        <input type="hidden" name='product_id'  value="{{ prod.id }}">
        <button>КУПИТЬ </button><br><hr>
    </form><hr>
{%  endfor  %}
{%  endblock  %}