{%  extends 'cosmetics_shop/base.html'  %}
{%  load custom_filters  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

{%  if card_items  %}
    {%  for item in card_items  %}
        {{  item.product  }}  --- {{  item.quantity  }}  ---  {{  item.product.price|multiply:item.quantity  }} грн<br>
    {%  endfor  %}
{%  else  %}
    Корзина пустая
{%  endif  %}
<br>
Всего: {{  total_price  }}<br>
<hr>
<a href="{%  url 'main_page'  %}"><button>Продолжить выбор</button></a>
<a href="{%  url 'order'  %}"><button>Заказать</button></a>
{%  endblock  %}