{% extends 'cosmetics_shop/base.html' %}
{%  load static  %}
{% load custom_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container my-4">
    <h2 class="mb-4">Ваша корзина</h2>

    {% if cart_items %}
        <div class="table-responsive">
            <table class="table align-middle cart-table">
                    <colgroup>
                        <col style="width:55%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:15%">
                        <col style="width:10%">
                    </colgroup>
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center product-cell">
                                    <img src="/media/{{ item.product.image }}" class="img-thumbnail me-3" style="width:80px; height:80px; object-fit:cover;">
                                    <a href="{% url 'product_page' item.product.code %}">{{ item.product.name }}</a>
                                </div>
                            </td>
                            <td>{{ item.product.price|number_format }} грн</td>
                            <td>
                                {%  if item.quantity == 1  %}
                                <button
                                    class="btn btn-sm btn-outline-secondary js-cart-btn-remove"
                                    data-product-code="{{  item.product.code  }}" disabled>
                                    -
                                </button>
                                {%  else  %}
                                <button
                                    class="btn btn-sm btn-outline-secondary js-cart-btn-remove"
                                    data-product-code="{{  item.product.code  }}">
                                    -
                                </button>
                                {%  endif  %}
                                <span
                                    class="mx-2 js-item-counter-quantity"
                                    data-product-code="{{ item.product.code }}">
                                    {{ item.quantity }}
                                </span>

                                <button
                                        class="btn btn-sm btn-outline-secondary js-cart-btn"
                                        data-product-code="{{  item.product.code  }}">
                                    +
                                </button>

                            </td>
                            <td>
                                <div class="d-flex align-items-center product-cell">
                                    <span
                                        class="mx-2 js-item-counter-total"
                                        data-product-code="{{ item.product.code }}">
                                        {{ item.product.price|multiply:item.quantity|number_format }} грн
                                    </span>
                                </div>
                            </td>
                            <td>
                            <button
                                    onclick="openDeleteDialog({{ item.product.id }}, '{{ item.product.name }}')"
                                    class="btn btn-sm btn-danger">
                                Удалить
                            </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <h5 id="cart-total">Итого: {{ total_price|number_format }} грн</h5>
            <div>
                <a href="{% url 'main_page' %}" class="btn btn-outline-primary me-2">Продолжить выбор</a>
                <a href="{% url 'delivery' %}" class="btn btn-success">Оформить заказ</a>
            </div>
        </div>
        <div>
            <a href="{%  url 'clean_cart'  %}" class="btn btn-danger">Очистить корзину</a>
        </div>
    {% else %}
        <div class="alert alert-info">
            Корзина пуста
        </div>
        <a href="{% url 'main_page' %}" class="btn btn-primary">Перейти к покупкам</a>
    {% endif %}

</div>

<dialog id="deleteDialog">
    <form
        action="{%  url 'cart_delete' %}"
        method="POST">
        {%  csrf_token  %}
            <p id="deleteText"></p>
            <input type="hidden" name="product_id" id="deleteId">
            <button type="reset" onclick="document.getElementById('deleteDialog').close()" class="btn btn-secondary">Назад</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</dialog>

<script src="{%  static 'staff/js/delete_dialog_script.js'  %}"></script>
{% endblock %}