{%  extends 'cosmetics_shop/base.html'  %}
{%  load custom_filters  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

{%  if cart_items  %}
    {% for item in cart_items %}
        {{ item.product }} — {{ item.product.price|multiply:item.quantity }} грн —

        <form method="POST" action="{% url 'cart_remove' %}" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}">
            <button>-</button>
        </form>

        {{ item.quantity }}

        <form method="POST" action="{% url 'cart_add' %}" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}">
            <button>+</button>
        </form>

        <form method="POST" action="{% url 'cart_delete' %}" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}">
            <button>Удалить</button>
        </form>
        <br>
        <br>
        Всего: {{  total_price  }}<br>
        <hr>
        <a href="{%  url 'main_page'  %}"><button>Продолжить выбор</button></a>
        <a href="{%  url 'delivery'  %}"><button>Заказать</button></a>
    {%  endfor  %}
{%  else  %}
    Корзина пустая
{%  endif  %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%  endblock  %}