{%  extends 'cosmetics_shop/base.html' %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

<ul>
{% for item in context_categories %}
    <li>
        <a href="{% url 'category_page' item.category.id %}">
            {{ item.category.name }}
        </a>
        {% if item.groups %}
            <ul>
            {% for group in item.groups %}
                <li>
                    <a href="{% url 'group_page' group.id %}">{{ group.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>

<hr>
<a href="{%  url 'brand_page'  %}">Brands</a><br><br>
<hr>
<div align="center"><h2>{{  title  }}</h2></div>
<hr>
{%  for product in products %}
    {%  include 'cosmetics_shop/includes/product.html' with product=product  %}
{%  endfor  %}<br>

{%  endblock  %}