{%  extends 'cosmetics_shop/base.html' %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}


{% regroup all_groups by category as cat_list %}

<ul>
{% for cat in cat_list %}
    <li><a href="{% url 'category_page' cat.grouper.id %}">
            {{ cat.grouper.name }}
        </a>
        <ul>
        {% for group in cat.list %}
            <li>
              <a href="{% url 'group_page' group.id %}">
                  {{ group.name }}
              </a>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
<hr>
<a href="{%  url 'brand_page'  %}">Brands</a><br><br>
<hr>
<div align="center"><h2>{{  title  }}</h2></div>
<hr>
{%  for product in products %}
    {%  include 'cosmetics_shop/includes/product.html' with product=product  %}
{%  endfor  %}<br>

{%  endblock  %}