{%  extends 'cosmetics_shop/base.html' %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

<div class="container">
{% include 'cosmetics_shop/includes/categories_menu.html' %}
</div>

<div align="center"><h2>{{  title  }}</h2></div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="filters p-3 border rounded">
                <h5>Фильтры</h5>
                <form id="product-filter-form" method="get">
                    {{ form.name.label_tag }}{{ form.name }}<br>

                    {% if not hide_group_field %}
                        {{ form.group.label_tag }}{{ form.group }}<br>
                    {% endif %}

                    {% if not hide_brands_field %}
                        {{ form.brand.label_tag }}{{ form.brand }}<br>
                    {% endif %}

                    {{ form.tags.label_tag }}{{ form.tags }}<br>

                    {{ form.min_price.label_tag }}{{ form.min_price }}<br>

                    {{ form.max_price.label_tag }}{{ form.max_price }}<br>
                    <button class="btn btn-primary btn-sm mt-2 filter-form-submit">Применить</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="sorting-panel mb-3">
                <div id="sorting-panel-container" class="sorting-panel">
                    {% include 'cosmetics_shop/includes/sorting_panel.html' %}
                </div>
            </div>
            <div id="products-container">
                {% include 'cosmetics_shop/includes/product_list.html' %}
            </div>
        </div>
    </div>
</div>
{%  endblock  %}