{%  extends 'cosmetics_shop/base.html' %}
{%  load static  %}
{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

<div class="container">
{% include 'cosmetics_shop/includes/categories_menu.html' %}
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
        {% include 'cosmetics_shop/includes/filter_panel.html' %}
        </div>
        <div class="col-md-9">
            <div class="sorting-panel mb-3">
                <div id="sorting-panel-container" class="sorting-panel">
                    {% include 'cosmetics_shop/includes/sorting_panel.html' %}
                </div>
            </div>
            <div id="products-container">
                {% include 'cosmetics_shop/includes/product_list.html' %}
            </div>
        </div>
    </div>
</div>
{%  endblock  %}
