{%  extends 'cosmetics_shop/base.html' %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% regroup group_product by category as cat_list %}

<ul>
{% for cat in cat_list %}
    <li><a href="{% url 'category_page' cat.grouper.id %}">
            {{ cat.grouper.name }}
        </a>
        <ul>
        {% for group in cat.list %}
            <li>
              <a href="{% url 'group_page' group.id %}">
                  {{ group.name }}
              </a>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
<hr>
<a href="{%  url 'brand_page'  %}">Brands</a><br><br>


{%  for prod in product %}

    <img src=media/{{ prod.image }}   hspace='40' vspace='40' width='100px' height='100px'>

    <a href="{%  url 'product_page' prod.id  %}">{{  prod.name  }}</a> | {{  prod.group.name  }} | {{  prod.brand  }} |
    {{  prod.price  }} | {{  prod.description  }} |
    <form method='POST' action="{%  url 'add_to_cart'  %}">
    {%  csrf_token  %}
        <input type="hidden" name='product_id'  value="{{ prod.id }}">
        {%  if prod.stock %}
            <button>КУПИТЬ </button><br>
        {%  else  %}
            Товара нет в наличии
        {%  endif  %}<hr>
    </form>

{%  endfor  %}<br>

{%  endblock  %}
