{%  extends 'cosmetics_shop/base.html' %}
{%  load static  %}
{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

{% include 'cosmetics_shop/includes/categories_menu.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="filters p-3 border rounded">
                <h5>Фильтры</h5>
                <form id="product-filter-form" method="get">
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-sm mt-2 filter-form-submit">Применить</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="sorting-panel mb-3">
                <div class="sorting-panel">
                    {% include 'cosmetics_shop/includes/sorting_panel.html' %}
                </div>
            </div>
            <div id="products-container">
                {% include 'cosmetics_shop/includes/product_list.html' %}
                {% include  'cosmetics_shop/includes/paginator.html' with page_elements=products %}
            </div>
        </div>
    </div>
</div>
{%  endblock  %}
