{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cosmetics_shop/css/styles.css' %}">
</head>
<body>

<!-- ШАПКА -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main_page' %}">
            Cosmetics Shop
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'payment_and_delivery' %}">Оплата и доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'brand_page' %}">Бренды</a>
            </li>
        </ul>
        <div class="ms-auto d-flex align-items-center">
            <a href="{% url 'cart' %}" class="btn btn-outline-success me-2">
                Корзина
                {% if cart_item_count %}
                    ({{ cart_item_count }})
                {% endif %}
            </a>
        </div>
    </div>
</nav>

<!-- ОСНОВНОЙ КОНТЕНТ -->
<div class="container">
    <div class="row">

        <!-- ЛЕВОЕ МЕНЮ -->
        <div class="col-md-3 mb-4">
            <div class="list-group account-menu">
                <a href="{% url 'user_contact' %}" class="list-group-item list-group-item-action">
                    Контактная информация
                </a>
                <a href="{% url 'order_history' %}" class="list-group-item list-group-item-action">
                    История заказов
                </a>
                <a href="{% url 'favorites' %}" class="list-group-item list-group-item-action">
                    Избранное
                </a>
                <button class="list-group-item list-group-item-action text-danger" onclick="openLogoutDialog()">Выйти</button>
                <button class="list-group-item list-group-item-action text-danger" onclick="openDeleteDialog()">Удалить аккаунт</button>
            </div>
        </div>
        <!-- ПРАВАЯ ЧАСТЬ -->
        <div class="col-md-9">
            <div class="card p-4">
                <main class="flex-grow-1">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>

    </div>
</div>
<!-- Диалог подтверждения удаления аккаунта -->
<dialog id="deleteDialog">
    <form method="POST" action="{%  url 'delete_account'  %}">
        {% csrf_token %}
        <p id="deleteText"></p>
        <div class="d-flex gap-2 mt-2">
            <button type="reset" class="btn btn-secondary" onclick="document.getElementById('deleteDialog').close()">Назад</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </form>
</dialog>
<!--Диалог подтверждения выхода из аккаунта -->
<dialog id="logoutDialog">
    <form action="{%  url 'logout'  %}" method="POST">
        {%  csrf_token  %}
        <p id="logoutText"></p>
        <div class="d-flex gap-2 mt-2">
            <button type="reset" class="btn btn-secondary" onclick="document.getElementById('logoutDialog').close()">Назад</button>
            <button type="submit" class="btn btn-danger">Выйти</button>
        </div>
    </form>
</dialog>
{% include 'cosmetics_shop/includes/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'cosmetics_shop/js/dialog_scripts.js' %}"></script>
</body>
</html>