body {
    height: 100%;
    font-family: Verdana;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.main-page-link {
    color: #808080;
    text-decoration: none;
    text-align: right;
    margin-right: 30px;
}

.chart-wrapper {
        position: relative;
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }