{% extends 'staff/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-4" style="max-width: 500px;">

    <h4 class="mb-3">{{ title }}</h4>

    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}

        <div class="mb-3">
            <div class="mb-3">
                {%  if form.category %}
                    <label class="form-label">{{ form.category.label }}</label>
                    {{  form.category  }}
                {%  endif  %}<br>
                <label class="form-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a href="{{ request.META.HTTP_REFERER|default:'../' }}" class="btn btn-secondary">Назад</a>
        </div>
    </form>

</div>
{% endblock %}
