{%  extends "staff/base.html"  %}
{%  load static  %}

{%  block title  %}{{  title  }}{%  endblock  %}

{%  block content  %}

<a href="{{request.path}}create/"><button>Создать</button></a>
<hr>
{%  if list  %}
{%  for l in list  %}
    <li>
        {{  l  }}
        <a href="{{ request.path }}edit/{{ l.id }}/"><button>Изменить</button></a>
        <button onclick="openDeleteDialog({{ l.id  }}, '{{ l }}')">Удалить</button>
    </li>
{%  endfor  %}
{%  else  %}
Пока пусто
{%  endif  %}

<dialog id="deleteDialog">
  <form method="POST" action="{{ request.path }}delete/">
    {% csrf_token %}
    <p id="deleteText"></p>
    <input type="hidden" name="id" id="deleteId">
    <button type="reset" onclick="document.getElementById('deleteDialog').close()">Назад</button>
    <button type="submit">Удалить</button>
  </form>
</dialog>
<script src="{%  static 'stuff/js/delete_dialog_script.js'  %}"></script>
{%  endblock  %}