{% extends "staff/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="d-flex align-center mb-3">
        <h1>{{ title }}</h1>
    </div>
    {%  if permissions.add  %}
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ request.path }}create/" class="btn btn-success">Создать</a>
    </div>
    {%  endif  %}

    {% if objects %}
        <div class="table-responsive">
            <table class="table align-middle table-bordered">
                <thead class="table-light">
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>Название</th>
                        {%  if permissions.change or permissions.delete  %}
                            <th style="width: 150px;">Действия</th>
                        {%  endif  %}
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ object }}</td>
                            {%  if permissions.change or permissions.delete  %}
                            <td class="d-flex gap-2">
                                {%  if permissions.change  %}
                                    <a href="{{ request.path }}edit/{{ object.id }}/" class="btn btn-primary btn-sm">Изменить</a>
                                {%  endif  %}
                                {%  if permissions.delete  %}
                                    <button class="btn btn-danger btn-sm" onclick="openDeleteDialog({{ object.id }}, '{{ object }}')">Удалить</button>
                                {%  endif  %}
                            </td>
                            {%  endif  %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% include  'cosmetics_shop/includes/paginator.html' with page_elements=objects %}
    {% else %}
        <div class="alert alert-info">
            Пока пусто
        </div>
    {% endif %}

    <!-- Диалог подтверждения удаления -->
    {%  if permissions.delete  %}
        <dialog id="deleteDialog">
            <form method="POST" action="{{ request.path }}delete/">
                {% csrf_token %}
                <p id="deleteText"></p>
                <input type="hidden" name="id" id="deleteId">
                <div class="d-flex gap-2 mt-2">
                    <button type="reset" class="btn btn-secondary" onclick="document.getElementById('deleteDialog').close()">Назад</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </dialog>
    {%  endif  %}

</div>

<script src="{% static 'staff/js/delete_dialog_script.js' %}"></script>
{% endblock %}
