{% extends "staff/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container my-4">
    {%  if perms.add  %}
    <div class="mb-3">
        <a href="{{ request.path }}create/" class="btn btn-success">Создать</a>
    </div>
    {%  endif  %}

    {% if list %}
        <div class="table-responsive">
            <table class="table align-middle table-bordered">
                <thead class="table-light">
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>Название</th>
                        <th style="width: 150px;">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ l }}</td>
                            <td class="d-flex gap-2">
                                {%  if perms.change  %}
                                    <a href="{{ request.path }}edit/{{ l.id }}/" class="btn btn-primary btn-sm">Изменить</a>
                                {%  else  %}
                                Недостаточно прав для изменения <br>
                                {%  endif  %}
                                {%  if perms.delete  %}
                                    <button class="btn btn-danger btn-sm" onclick="openDeleteDialog({{ l.id }}, '{{ l }}')">Удалить</button>
                                {%  else  %}
                                    Недостаточно прав для удаления <br>
                                {%  endif  %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            Пока пусто
        </div>
    {% endif %}

    <!-- Диалог подтверждения удаления -->
    {%  if perm.delete  %}
        <dialog id="deleteDialog">
            <form method="POST" action="{{ request.path }}delete/">
                {% csrf_token %}
                <p id="deleteText"></p>
                <input type="hidden" name="id" id="deleteId">
                <div class="d-flex gap-2 mt-2">
                    <button type="reset" class="btn btn-secondary" onclick="document.getElementById('deleteDialog').close()">Назад</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </dialog>
    {%  endif  %}

</div>

<script src="{% static 'staff/js/delete_dialog_script.js' %}"></script>
{% endblock %}
